<div class="modal-header">
    <h3>Create A New Product!</h3>
</div>
<form name="form.productForm" ng-init="formInit()" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="product.name" required>
            <p ng-show="form.productForm.name.$invalid && !form.productForm.name.$pristine" class="help-block">You name is required.</p>
        </div>

        <!-- Value -->
        <div class="form-group">
            <label>Value</label>
            <input type="text" name="value" class="form-control" ng-model="product.value" ng-minlength="3" ng-maxlength="8" required>
            <p ng-show="form.productForm.value.$error.minlength" class="help-block">Username is too short.</p>
            <p ng-show="form.productForm.value.$error.maxlength" class="help-block">Username is too long.</p>
        </div>

        <!-- Quant -->
        <div class="form-group">
            <label>Quant</label>
            <input type="quant" name="quant" class="form-control" ng-model="product.quant" required>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="form.productForm.$invalid">OK</button>
        <button type="reset" class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</form>